@media (min-width: 1400px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media all and (min-width: 320px) and (max-width: 991px) {
    .nav-mobile {
        display: block;
        i {
            font-size: 24px;
            color: #3363AF;
        }
        i:last-child {
            color: white;
            padding: 8px 10px;
            border-radius: 5px;
            background-color: #3363AF;
        }
    }

    .nav-menu.show {
        transform: translateX(0);
    }

    .nav-menu.hide {
        transform: translateX(100%);
    }

    .nav-menu {
        transition: transform 0.5s ease-in-out;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh !important;
        background-color: white;

        .exit {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 76px;
            cursor: pointer;
            i {
                font-size: 24px;
                color: #3363AF;
            }
        }

        .menu-items {
            flex-direction: column;
            justify-content: start !important;
            align-items: start !important;
            gap: 0;

            .active {
                background-color: #3363AF;

                a {
                    color: white;
                }
            }

            li {
                width: 100%;
                padding: 12px 10px;

                .active {
                    background-color: #3363AF;
                    color: white;
                }

                a {
                    i {
                        display: none;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}